<html>
   <body>
   <font face="Arial">
      <b>Intof User Manager</b><br/><br/>
      <table style="font-size:12px">
         <tr><td><a href="/login/form">/login/form</a></td><td>Login</td></tr>        
	     <tr><td><a href="/logout">/logout</a></td><td>Logout</td></tr> 
         <tr><td><a href="/registration/form">/registration/form</a></td><td>Register a new user</td></tr>    
    	 <tr><td><a href="/device/config/form">/config/device</a></td><td>Configure a device</td></tr> 
	     <tr><td><a href="/get/current/user">/get/current/user</a></td><td>Currently logged in user</td></tr>    	 
         <tr><td></td></tr>  
       </table>        
   </body>
</html>